.Rproj.user
.Rhistory
.RData
.Ruserdata
**/.DS_Store
*.out
/.quarto/
*.rdb
*.rds
*.rdx
*.RData
**/.DS_Store
mod/.txt
mod/X_AS/Param_sobol_Jansen_T.txt
mod/X_AS/Param_sobol_Jansen_noT.txt

mod/old/X_AS/Param_sobol_Jansen_T.txt
mod/old/X_AS/Param_sobol_Jansen_noT.txt